.fixture {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid lightslategrey;
  border-radius: 2px;

  &__team {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  &__game {
    width: 100%;
    border-right: 1px solid grey;
    margin-right: 15px;
    padding-right: 15px;
  }
}

.dimmed {
  color: lightseagreen;
}